@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sora:wght@100..800&display=swap');




.body {
    max-width: 1280px;
    margin: 0 auto;
    font-family: "Fira Sans", serif;
    background-color: rgb(234, 244, 253);
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
}

.banner {

    border-radius: 24px;
    width: 1280px;
    height: 560px;
    margin: 0 auto;
    background-color: #C6E4D6;
    margin-top: 10px;
}

#banner-button {
    width: 270px;
    height: 56px;
    background-color: #006A50;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
}

#banner-paragraph {
    font-size: medium;
    color: 0E0E0E;



}

#banner-heading {
    font-weight: bold;
    font-size: 56px;
    margin-bottom: 24px;
    margin-top: 24px;

}


#vision-heading {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 24px;
}

#vision-paragraph {
    font-size: 16px;
    color: #0E0E0EB3;
    margin-bottom: 32px;
}

.bangladesh {

    padding: 80px 100px 80px 100px;
    display: flex;
}

.phb {
    align-content: center;
}

.card {
    max-width: 346px;
    margin: 0 auto;
    padding: 32px;
    border-radius: 16px;
    gap: 24px;

}

.card-box {
    display: flex;
}

#card-1 {
    background-color: #5490F533;
}

#card-2 {
    background-color: #C6E4D6;
}

#card-3 {
    background-color: #F7EBCF;
}

#card-btn-1 {
    background-color: #5490F5;
    border: none;
    width: 122px;
    height: 41px;
    border-radius: 8px;
    margin-top: 5px;
    color: #FFFFFF;
}

#card-btn-2 {
    background-color: #09A15C;
    border: none;
    width: 122px;
    height: 41px;
    border-radius: 8px;
    margin-top: 20px;
    color: #FFFFFF;
}

#card-btn-3 {
    background-color: #FFC239;
    border: none;
    width: 122px;
    height: 41px;
    border-radius: 8px;
    color: #FFFFFF;
}

.card-heading {
    margin-top: 25px;
    margin-bottom: 12px;
}

.card-paragraph {
    color: #0E0E0EB3;
    font-size: 16px;

}

#yunus {
    padding: 48px 24px 48px 24px;
    background-color: #FFFFFF;
    border-radius: 16px;
    margin-top: 32px;
}

#yunus-p {
    font-size: 16px;
    color: #0E0E0E;
    opacity: 80%;
}

#yunus-h {
    font-size: 20px;
    opacity: 80%;
}

#yunus-c {
    opacity: 60%;
}

.box {
    width: 240px;
    height: 100px;
    background-color: #FFFFFF;
    border: 1px solid #0E0E0E26;
    border-radius: 16px;

}

#box- {
    background-color: #C6E4D6;
}

.box-h {
    font-size: 40px;
    text-align: center;
    margin-bottom: 5px;
}

.box-content {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
}

.donate-input {
    width: 1023px;
    height: 64px;
    margin: 0 auto;
    border: none;
    text-align: center;
}

.input-btn {
    display: flex;
    flex-direction: column;
    margin-top: 32px;

}

.donate-btn {
    width: 151px;
    height: 56px;
    margin: 0 auto;
    margin-top: 32px;
    background-color: #006A50;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
}

#recent-h {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}

#recent-p {
    font-size: 16px;
    opacity: 70%;
}

.recent-btn {
    background-color: #006A50;
    color: #FFFFFF;
    border: none;
    width: 139px;
    height: 48px;
    border-radius: 8px;
    margin-top: 20px;
}

.satelite {
    border-radius: 24px;
}

.satelite-div {

    padding: 40px;

}

.satelite-listing {
    padding: 40px;

}

.hero {
    display: flex;
    margin: 0 auto;



}

.time {
    display: flex;
    gap: 12px;
}

#hero-id {
    background-color: #FFFFFF;
    border-radius: 24px;
    margin-bottom: 24px;
}

.donate {
    margin: 0 auto;
}

.newsletter {
    margin: 0 auto;
    text-align: center;
    background-color: #C6E4D6;
    border-radius: 24px;
    width: 1280px;
    height: 395px;
    align-content: center;
    margin-top: 80px;
}

.footer-input-btn {
    display: flex;
    justify-content: center;
}

.footer-input {
    width: 600px;
    height: 55px;
    border: none;
    text-align: center;
    margin-bottom: 25px;
}

.footer-btn {
    width: 150px;
    height: 55px;
    background-color: #006A50;
    color: #FFFFFF;
    border: none;
    border-radius: 0px 8px 8px 0px;
}

.news-h {
    font-size: 40px;
}

.news-p {
    font-size: 16px;
    color: #0E0E0E;
    opacity: 70%;
    width: 622px;
    height: 48px;
    margin: 0 auto;
    margin-bottom: 24px;
}
.footer-text{
    font-size: 16px;
    color: #0E0E0EB3;
    opacity: 70%;
}