@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sora:wght@100..800&display=swap');




.body{
    max-width: 1280px;
    margin: 0 auto;
    font-family: "Fira Sans", serif;
}
.nav{
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
}

.banner{
    
    border-radius: 24px;
    width: 1280px;
    height: 560px;
    margin: 0 auto;
    background-color: #C6E4D6;
    margin-top: 10px;
}

.bangladesh{
    margin: 0 auto;
    padding: 80px 100px 80px 100px;
    display: flex;
}

.phb{
    align-content: center;
}

.card{
    max-width: 346px;
    margin: 0 auto;
    padding: 32px;
    
}

.card-box{
    display: flex;
}

#card-1{
    background-color: #5490F533;
}
#card-2{
    background-color: #C6E4D6;
}
#card-3{
    background-color: #F7EBCF;
}